.vs/
src/Bootstraper/Modmon.Bootstraper/bin/
src/Bootstraper/Modmon.Bootstraper/obj/
src/Shared/Modmon.Shared.Abstractions/obj/
src/Shared/Modmon.Shared.Infrastructure/bin/
src/Shared/Modmon.Shared.Infrastructure/obj/
src/Shared/Modmon.Shared.Abstractions/bin/
src/Modules/Conferences/Modmon.Modules.Conferences.Api/obj/
src/Modules/Conferences/Modmon.Modules.Conferences.Api/bin/
src/Modules/Conferences/Modmon.Modules.Conferences.Core/obj/
src/Modules/Conferences/Modmon.Modules.Conferences.Core/bin/
src/Modules/Speakers/Modmon.Modules.Speakers.Core/obj/
src/Modules/Speakers/Modmon.Modules.Speakers.Api/bin/
src/Modules/Speakers/Modmon.Modules.Speakers.Api/obj/
src/Modules/Speakers/Modmon.Modules.Speakers.Core/bin/
